## CI
.git
.gitignore
.dockerignore
Dockerfile

## Unit test / Coverage reports
.cache
.pytest_cache
/tests/

## IDE
.idea
.vscode

## Environment
/env
/venv

## Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]
*.egg-info

## Project
**/output.json
custom.ini
/data
/sessions
/scripts
